<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212737718308-vsc0r0tqqhhoolrpf47202jvt30cvc5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212737718308-vsc0r0tqqhhoolrpf47202jvt30cvc5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212737718308-diuld56aeqp82tkm685ghilc1ln8m54e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1coi0N7p4bADUAMbOD4Ym9yvXnvS2gAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>212737718308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voyager.tripsapp</string>
	<key>PROJECT_ID</key>
	<string>trips-app-9f069</string>
	<key>STORAGE_BUCKET</key>
	<string>trips-app-9f069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212737718308:ios:0898a49bb6473ee4aa00b1</string>
	<key>DATABASE_URL</key>
	<string>https://trips-app-9f069.firebaseio.com</string>
</dict>
</plist>